include mcubes/*.py
exclude mcubes/numpy_smoothing.py

include mcubes/src/*.h
include mcubes/src/*.cpp
include mcubes/src/_mcubes.pyx
exclude mcubes/src/_mcubes.cpp

include examples/*.py
include images/binary.jpg
include images/smooth.jpg
include images/smoothing_overview.png

include setup.py
include README.rst
include LICENSE
