name: PyMCubes

on:
  pull_request:

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - name: Install the package
        run: |
          python -m pip install -e .
      - name: Install dependencies for test
        run: |
          python -m pip install pycollada
          python -m pip install pytest>=7.2.0 pytest-cov>=4.0 codecov
      - name: Test and coverage
        run: |
          mkdir output
          python -m pytest --cov=mcubes --cov-report=xml
          codecov
      - name: Flake8
        run: |
          python -m pip install flake8
          flake8 .

  deploy-sdist:
    name: Deploy source distribution
    runs-on: ubuntu-latest
    needs: test
    env:
      TWINE_USERNAME: __token__
      TWINE_PASSWORD: ${{ secrets.PYPI }}
    if: github.ref == 'refs/heads/master'

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install cibuildwheel
        run: |
          python -m pip install --upgrade pip
          python -m pip install build
      - name: Build sdist
        run: python -m build --sdist
      - name: Deploy sdist
        run: |
          python3 -m pip install twine
          python3 -m twine upload --skip-existing dist/*

  deploy-wheels:
    name: Deploy wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: test
    env:
      CIBW_ARCHS: "auto64"
      # CIBW_BUILD: "cp39-*"
      CIBW_BUILD: "cp39-* cp310-* cp311-* pp*"
      CIBW_SKIP: "*musllinux* pp*-win* pp*-macosx*"
      TWINE_USERNAME: __token__
      TWINE_PASSWORD: ${{ secrets.PYPI }}
    if: github.ref == 'refs/heads/master'

    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macOS-11]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install cibuildwheel
        run: |
          python -m pip install --upgrade pip
          python -m pip install cibuildwheel==2.11.4
      - name: Build wheels
        run: python3 -m cibuildwheel --output-dir wheelhouse
      - name: Deploy
        run: |
          python3 -m pip install twine
          python3 -m twine upload --skip-existing wheelhouse/*.whl
